<header>
    <div id="navContainer">
        <div id="navLogo">
            <h1 id="logo">Wormhole Plan</h1>
        </div>
        <nav id="navBar">
            <ul id="navList">
                <i><a class="navListItem" href="/index"> Inicio </a></i>
                <i><a class="navListItem" href="/users/perfil"> Mi perfil </a></i>
                <i><a class="navListItem"  href="#"> Privacidad </a></i>
                <i><a class="navListItem" href="/users/logout"> Cerrar sesión </a></i>
            </ul>
        </nav>
    </div>
    <img src="/img/bx-menu-alt-left.svg" class="hamburguer">
</header>