<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,0">
        <title>WomrholePlan | <%=title%> </title>
        <link rel="stylesheet" href="/styles.css">
        <link rel="stylesheet" href="/404.css">
        <link rel='stylesheet' href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'>
        
    </head>
<body>

    <div class="not-found content">
        <h1 class="h1404"> 404 :c </h1>
        <h2> Ups!, pagina no encontrada </h2>
        <div id="img404"></div>
    </div>
    <%- include('./partials/footer.ejs') %>   
</body>
</html>
