<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WomrholePlan | <%= title %>
    </title>
    <link rel="stylesheet" href="/reportCSS.css">
    <link rel="stylesheet" href="/stylesMain.css">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'>

</head>

<body class="wallpaper-report">
<p class="hidden" id="reporteID"><%=id%></p>
<%- include('./partials/header.ejs') %>

    <div class="report-comments">
    

        
    </div>
    <div class="footer-contact">
        <%- include('./partials/footer.ejs') %>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/variables.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="/menu.js"></script>
    <script src="/calendario_script.js"></script>
    <script src="/postComment.js"></script>
    <script src="/fetchAllComments.js"></script>
    <script src="/deleteReport.js"></script>
    <script src="/editReport.js"></script>
</body>

</html>