<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,0">
        <title>WomrholePlan | <%= title %></title>
        <link rel="stylesheet" href="/stylesMain.css">
        <link rel="stylesheet" href="/styles.css">

        <link rel='stylesheet' href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'>
        
    </head>    <body>
        <div id="main">
            <div id="box-1">
                <div class="container">
                    <h2>Bienvenido a WormHole Plan</h2><br>
                    <p id="introduction">WormHole Plan es una red social donde puedes aprender de tu experiencia, aprender de la historia de otros y compartir lo que te interesa.</p><br>
                    <p id="introduction">Hemos abierto WormHole Plan para el consumo popular del Instituto Politécnico Nacional.</p><br>
                    <p id="introduction">Puedes usar WormHolePlan para:</p><br>
                    <ul> 
                        <li>Darle contenido a tu vida.</li>
                        <li>Expresa lo que te motiva.</li>
                        <li>Sistematiza tu vida.</li>
                        <li>Aprende de tu experiencia (logros y errores).</li>
                        <li>Aprende de la historia de otros.</li>
                        <li>Aprende lo que te interesa en menor tiempo.</li>
                        <li>Planifica y cómete al mundo.</li>
                    </ul>
                </div>    
            </div>
            <div id="box-2">
                <img src="https://cdn.discordapp.com/attachments/744572741210079234/847940041263284254/Logo.png" class="absolute-center">
                <div class="flex-column flex-center">

                <a href="/users/login" class="loginBtn"> Iniciar Sesión </a>
                <a href="/users/register" class="loginBtn"> Registrarme </a>
                </div>

                
            </div>
        </div>
        
<%- include('./partials/footer.ejs') %>
        <!-- <script src="js/Login.js"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

        <script src="/lightbox.js"></script>
    </body>
</html>