<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WomrholePlan | <%= title %>
    </title>
    <link rel="stylesheet" href="/reportCSS.css">
    <link rel="stylesheet" href="/stylesMain.css">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <div class="content">
            <h1> Crear Reporte</h1>
            <div id="crearReporteForm">
                <label for="titulo">Ingresa un titulo: </label>
                <input type="text" name="titulo" id="titulo" required>
                <label for="descripcion">Descripcion del reporte:</label>
                <textarea type="text" name="descripcion" id="descripcion" placeholder="Descripcion del reporte" rows="10" required style="resize:  none">
                </textarea>
                <p>Selecciona etiquetas:</p>

                <div class="wrapper">
                    <input type="radio" name="tags" id="option-1" value="Bug" checked>
                    <input type="radio" name="tags" id="option-2" value="Ayuda">
                    <label for="option-1" class="option option-1">
                        <div class="dot"></div>
                        <span>Bug</span>
                    </label>
                    <label for="option-2" class="option option-2">
                        <div class="dot"></div>
                        <span>Ayuda</span>
                    </label>
                </div>

                <p>Selecciona plataforma:</p>

                <div class="wrapper">
                    <input type="radio" name="platform" id="option-3" value="Android" checked>
                    <input type="radio" name="platform" id="option-4" value="PC">
                    <label for="option-3" class="option option-3">
                        <div class="dot"></div>
                        <span>Android</span>
                    </label>
                    <label for="option-4" class="option option-4">
                        <div class="dot"></div>
                        <span>PC</span>
                    </label>
                </div>
                <input type="submit" id="submit" value="enviar" onclick="fetchData()">
                </form>
            </div>
        </div>

            <%- include('./partials/footer.ejs') %>
</body>


<script src="/postReporte.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="/variables.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

</html>