<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,0">
        <title>WomrholePlan | <%= title %></title>

        <link rel="stylesheet" href="/styles.css">
        <link rel='stylesheet' href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'>
        
    </head>
    <body>

        <header>
    <div id="navContainer">
        <div id="navLogo">
            <h1 id="logo">Wormhole Plan</h1>
        </div>
        <nav id="navBar">
            <ul id="navList">
                <i><a class="navListItem" href="/index"> Inicio </a></i>
                <i><a class="navListItem" href="/users/perfil"> Mi perfil </a></i>
                <i><a class="navListItem"  href="#"> Privacidad </a></i>
                <i><a class="navListItem" href="/users/logout"> Cerrar sesión </a></i>
            </ul>
        </nav>
    </div>
    <img src="/img/bx-menu-alt-left.svg" class="hamburguer">
</header>

            <div id="tripleItemGrid">

                <div class="sideBar">


    <div id="search" >
        <label for="search">Buscar amigos</label>
        <form action="/users/search" method="POST">
        <input type="search" id="searchInput" name="search">
    </form>
    </div>
    <div id="hobbieDiv">
        <a href="/users/deporte" class="sideBarItem">Deporte</a>
        <a href="/users/plan_de_vida" class="sideBarItem">Plan de vida</a>
        <a href="/users/estudio" class="sideBarItem">Estudio</a>
        <a href="/users/hobbies" class="sideBarItem">Hobbies</a>
        <a href="/users/agenda" class="sideBarItem"> Agenda </a>
        <a href="/users/publicaciones" class="sideBarItem">publicaciones</a>
        <a href="/users/rueda_de_vida" class="sideBarItem"> Rueda de vida </a>
            
    </div>

</div>

                    <div>
                        <div class="info">
                            <div id="profileCover">
                                <p>Foto de portada</p>

                                    <div id="profilePicture"> </div>
                                    <div id="profileGradient">
                                        <div id="profileNameAndFollows">
                                        <p id="userName"> Chava Mora</p>
                                        <p class="followInfo">10 Seguidores</p>
                                        <p class="followInfo">11 Seguidos</p>
                                    </div>
                                    </div>
                                </div>
                                <div id="profileNav">
                                    <div id="profileNavList">
                                    <a class="btn" href="">Publicaciones</a>
                                    <a class="btn" href="">Hobbies</a>
                                    <a class="btn" href="">Estudio</a>
                                    <a class="btn" href="">Publicaciones</a>
                                    <a class="btn" href="">Metas</a>
                                    <a class="btn" href="">Rueda De Vida</a>
                                    </div>
                                </div>
                            </div> 

                            <!-- <form method="post" enctype="multipart/form-data" action="http://localhost:3000/api/user/image?secret_token=<%=secret_token%>">
                             <label for="image">Upload Image</label>
                        <input type="file" id="image"
                       name="image" required></input>

                       <input type="submit" value="enviar">
                    </form> -->
                    </div>
                

            </div>
            </div>
            
<%- include('./partials/footer.ejs') %>

    </body>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="../variables.js"></script>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="/menu.js"></script>
    <script src="/calendario_script.js"></script>
    <script src="/fetchPerfilData.js"></script>
    <!-- <script src="/fetchImageData.js"></script>
    <script src="/postImage.js"></script> -->
   
    <!-- <script src="/rueda_de_vida.js"></script> -->
    <script>
    


    </script>
</html>