<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,0">
        <title>WomrholePlan | <%= title %></title>

        <link rel="stylesheet" href="/stylesMain.css">
        <link rel="stylesheet" href="/styles.css">
        <link rel="stylesheet" href="/404.css">

        <link rel='stylesheet' href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'>
        
    </head>
    <body>
<p class="hidden" id="userid"><%=id%></p>
        <%- include('./partials/header.ejs') %>


            <div id="tripleItemGrid">

                <div class="sideBar">


                    <div id="search" >
                        <label for="search">Buscar amigos</label>
                        
                            <input type="search" id="searchInput" name="search">
                        <input type="submit" id="buscar" value="buscar">
                        </div>
                    <div id="hobbieDiv">
        <a href="/users/deporte" class="sideBarItem">Deporte</a>
        <a href="/users/plan_de_vida" class="sideBarItem">Plan de vida</a>
        <a href="/users/estudio" class="sideBarItem">Estudio</a>
        <a href="/users/hobbies" class="sideBarItem">Hobbies</a>
            
                    </div>
                </div>
                    <div>
                        <div class="infoPerfil" id="infoPerfil">

                            <div id="profileCover">
                                <p>Foto de portada</p>
                                <div id="foto-container"></div>
                                
                                </div>
                                
                            </div> 


                            <div class="frontpage-follows">
                                <div class="user-frontpage">
                                    <button type="submit" id="submit" class="submit-pfp">Cambiar foto</button>
            
                                  
            
                                    <!-- <div class="idols">
                                        <h3>ídolos</h3>
                                        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, doloremque deserunt!
                                            Ea, placeat sunt inventore repudiandae veritatis hic ullam reprehenderit atque mollitia
                                            tempore vero ex animi nihil. Aspernatur, perferendis ipsam.</p> -->
                                            <!-- <div class="idolos-container"></div>
                                        </div> --> 
            
            
                                </div>
                                <div class="user-follows-list">
                                    <h3 style="align-self: flex-start; margin-left: 1em; margin-bottom: 0.7em;">siguiendo</h3>
                                    
                                </div>
                            </div>

                    </div>
                    
            </div>
            </div>
            
<%- include('./partials/footer.ejs') %>

    </body>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/variables.js"></script>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="/menu.js"></script>
    <script src="/calendario_script.js"></script>
    <script src="/fetchSearchPerfilData.js"></script>
    <script src="/fetchImageData.js"></script>
    <script src="/buscar.js"></script>
    <script src="/follows.js"></script>
</html>