<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesMain.css">
    <link rel="stylesheet" href="/faqs.css">
    <title>Preguntas Frecuentes</title>
</head>

<body id="page-container">

    <%- include('./partials/header.ejs') %>
    <div class="sideBar" style="margin-top: 1.5em;">


        <div id="search">
            <label for="search">Buscar amigos</label>
    
            <input type="search" id="searchInput" name="search">
            <input type="submit" id="buscar" value="buscar">
        </div>
        <div id="hobbieDiv">
            <a href="/users/deporte" class="sideBarItem">Deporte</a>
            <a href="/users/plan_de_vida" class="sideBarItem">Plan de vida</a>
            <a href="/users/estudio" class="sideBarItem">Estudio</a>
            <a href="/users/hobbies" class="sideBarItem">Hobbies</a>
            <!-- <a href="/users/agenda" class="sideBarItem"> Agenda </a>
    <a href="/users/publicaciones" class="sideBarItem">publicaciones</a>
    <a href="/users/rueda_de_vida" class="sideBarItem"> Rueda de vida </a>  -->
        </div>
    </div>


<div id="page-container">
    <div class="general">
        <h1 class="titulo">Preguntas Frecuentes </h1>
        <div class="preguntas">

    
            <div id="edit" >
                <a href="/users/faqs/editar" id="editarFaqs" style="height: 30px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-pencil" viewBox="0 0 16 16" >
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                      </svg>
                </a>
            </div>
            

        </div>

    </div>



    <%- include('./partials/footer.ejs') %>

</body>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="/variables.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="/menu.js"></script>
<script src="/faqs.js"></script>
</html>