<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WormHolePlan | <%= title %></title>
    <STYLE type="text/css">
    h1 { text-align:center } 
    h2 { text-align:center } 
    p { text-align:center }
    p {text-align:justify } 
    p {
      padding-left: 15%;
      padding-right: 15%;
     }
    .centrado {
        margin:10px auto;
		    display:block;
        }
    
         
     
    </style>
    
</head>
<body>
    
   <img class="centrado"  src="C:\Users\josel\OneDrive\Documentos\1.Start up-Desarrollo,WormHole Plan\WormHole_Cliente\img\LogoWHP.1.png">
    
    <h1>Privacidad WormHole Plan</h1>
    <h2><strong><P>¿Qué tipo de información recopilamos?</P></strong></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo labore vitae minus, animi incidunt culpa ab expedita a, doloribus dolor eaque aliquid, optio beatae quia consequatur nam necessitatibus eligendi repellendus?</p>
    <h2><strong><P>¿Cómo utilizamos esta información?</P></strong></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse explicabo deserunt reprehenderit minima et molestias quasi quam itaque officiis aperiam, amet, doloremque tempore quia non dignissimos enim ipsa cumque vero! </p>
    <h2><strong><P>¿Cómo se comparte esta información?</P></strong></h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla libero fugiat neque accusamus eum repellat nemo ex odio! Molestias praesentium labore laboriosam odit? Expedita accusamus modi consectetur amet delectus quod!</p>
    <h2><strong><P>¿Cómo puedo administrar o eliminar información sobre mí?</P></strong></h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo illum harum molestiae veniam? Cumque repellendus modi numquam temporibus fugiat, ex magnam, adipisci ad dolorum corporis voluptatibus facere asperiores aspernatur. Maxime?</p>
    <h2><strong><P>¿Cómo respondemos a requerimientos legales o evitamos que se produzcan daños?</P></strong></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, aperiam, architecto nesciunt adipisci similique quaerat optio tempora animi sed magnam quam modi eum officia! Nam dolor maxime quod laboriosam ipsam?</p>

</body>
</html>

      


