
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 20rem;
    overflow-x: hidden;
}

header {
    z-index: 10;
    top: 0;
    width: 100%;
    position: fixed;
    background-image: linear-gradient(120deg, rgb(161, 196, 253) 0%, rgb(194, 233, 251) 100%);
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

i {
    text-decoration: none;
}

#navContainer {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0% 10% 0% 10%;
}

#navBar {
    width: 80%;
    display: flex;
}

#navList {
    width: 100%;
    justify-content: space-around;
    font-family: 'Quicksand', sans-serif;
}

.navListItem{
    margin-left: 2em;
    padding: 1%;
    border-radius: 2em;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
}

.navListItem:hover{
    background: linear-gradient(#7F99F5, #506CF5);
    color: #fff;
}

#logo {
    color: white;
    font-family: 'Staatliches', cursive;
}


footer {
    background-color: rgb(44, 44, 44);
    color: white;
    padding: 5% 4% 5% 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    
}
             
footer p{
    border-left: rgba(161, 196, 253, 0.664) 5px solid;
    padding-left: 2em;
    
}
        
.right-footer {
    color: white;
    align-self: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}
        
.icons svg {
    margin-right: 2em;
    
}
        
.icons a {
    color: white;
}
        
footer a {
    color:rgba(161, 196, 253, 0.664);
    font-size: 90%;
}