
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

#tripleItemGrid {
    margin-top: 10vh;    
    display: flex;
    flex-direction: row;

}

body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 20rem;
    overflow-x: hidden;
}

header {
    z-index: 10;
    top: 0;
    width: 100%;
    position: fixed;
    background-image: linear-gradient(120deg, rgb(161, 196, 253) 0%, rgb(194, 233, 251) 100%);
    font-family: 'Quicksand', sans-serif;
}

.hamburguer {
    background-image: linear-gradient(120deg, rgba(161, 196, 253, 0.664) 0%, rgba(194, 233, 251, 0.705) 100%);
    position: fixed;
    top: 80px;
    left: 30px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: transform .3s ease-in-out;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

i {
    text-decoration: none;
    margin-right: 1rem;
}

#navContainer {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0% 10% 0% 10%;
}

#navBar {
    width: 80%;
    display: flex;
}

#navList {
    width: 100%;
    justify-content: space-around;
    font-family: 'Quicksand', sans-serif;
}

.navListItem{
    margin-left: 2em;
   padding: 0.5rem;
    width: 100%;
    border-radius: 5rem;
    font-family: 'Quicksand', sans-serif;
        font-weight: 100;
    color: white;
    font-size: 0.9rem;
    font-style: normal;   
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.1ch;
    transition: all 0.5s;
}




.navListItem:hover{
    background: rgba(255, 255, 255, 0.658);
    color: rgba(0, 0, 0, 0.568);

}

#logo {
    color: white;
    font-family: 'Staatliches', cursive;
}


footer {
    background-color: rgb(44, 44, 44);
    color: white;
    padding: 5% 4% 5% 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    
}
             
footer p{
    border-left: rgba(161, 196, 253, 0.664) 5px solid;
    padding-left: 2em;
    margin: 0%;
}
        
.right-footer {
    color: white;
    align-self: center;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
}

.icons{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
        
.icons svg {
    margin-right: 2em;
    
}
        
.icons a {
    color: white;
}
        
footer a {
    color:rgba(161, 196, 253, 0.664);
}

.container_calendar {
    width: 220px;
    height: 550px;
    /*  background: salmon; */
    margin: auto; }
  
.header_calendar {
    width: 100%;
    height: 25%;
    background: linear-gradient(#7F99F5, #506CF5);
    border-radius: 15px 15px 0px 0px;
    display: flex;
    flex-direction: column; }
    .header_calendar h1 {
      margin: 10px 30px 0px 30px;
      padding: 0px;
      font-family: Arial;
      color: white;
      font-size: 50px; }
    .header_calendar h5 {
      margin: 0px 30px;
      padding: 0px;
      font-family: Arial;
      color: white;
      font-size: 20px; }
  
  .body_calendar {
    width: 100%;
    height: 55%;
    background: white;
    border-radius: 0px 0px 15px 15px; }
  
  .container_details {
    width: 100%;
    height: 30px;
    /* background: #000000; */
    position: relative;
    top: -13px;
    display: flex;
    justify-content: space-between; }
    .container_details .detail_1, .container_details .detail_2 {
      width: 70px;
      height: 100%;
      /* background: salmon; */
      display: flex;
      justify-content: center; }
      .container_details .detail_1 .detail, .container_details .detail_2 .detail {
        margin: 0px 2px;
        width: 10px;
        height: 100%;
        /* background:red; */ }
        .container_details .detail_1 .detail .circle, .container_details .detail_2 .detail .circle {
          width: 10px;
          height: 10px;
          background: #1C1E26;
          position: relative;
          top: calc(30px - 10px);
          border-radius: 50%; }
          .container_details .detail_1 .detail .circle .column, .container_details .detail_2 .detail .circle .column {
            width: 80%;
            height: 30px;
            background: #ececec;
            margin: 0px auto;
            position: relative;
            top: -22px;
            border-radius: 5px; }
  
  .container_change_month {
    width: 100%;
    height: 25px;
    /* background: gold; */
    display: flex;
    justify-content: space-evenly;
    opacity: 0.7; }
    .container_change_month div {
      /* background: firebrick; */
      height: 20px;
      margin: auto;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
    .container_change_month button {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 20px;
      margin: auto 5px;
      border: none;
      background: none;
      cursor: pointer; }
  
  .container_weedays {
    width: 90%;
    height: 40px;
    /* background: #fa80725e; */
    display: flex;
    margin: 0px auto; }
    .container_weedays span {
      color: #506CF5;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 10px;
      height: 100%;
      line-height: 2.5; }
  
  .week_days_item {
    display: flex;
    /* background: firebrick; */
    margin: auto;
    width: calc(100% / 7);
    justify-content: center;
    cursor: pointer; }
  
  .week_days_item:hover {
    color: #506CF5; }
  
  .prev_days {
    opacity: 0.5; }
  
  .container_days {
    width: 90%;
    height: auto;
    /* background: darkcyan; */
    display: flex;
    flex-flow: row wrap;
    margin: 0px auto; }
    .container_days span {
      color: #4e4e4e;
      /* background: #000; */
      height: 20px;
      margin: 5px 0px;
      padding: 0px;
      font-family: Arial; }
    .container_days .today {
      display: flex; }
    .container_days .today:after {
      content: "";
      width: 19px;
      height: 19px;
      background: #506CF5;
      position: absolute;
      border-radius: 50%;
      border: 5px solid #506CF5;
      opacity: 0.6;
      margin: -5px 0px 0px 1px; }

      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    
    }